@{
    ViewData["Title"] = "Confirmed";
}

<h1>Transaction confirmed</h1>
<p>You can now view the lease in "Your Leases"</p>
<a class="btn btn-primary" asp-area="Customer" asp-controller="Home" asp-action="Index">Your Leases</a>