@model FVModel
@{
    ViewData["Title"] = "Future Value Calculator";
}

<div class="text-center">
    <div class="jumbotron col-md-8">
        <h1>Future Value Calculator</h1>
    </div>
    
    <form asp-action="Index"  method="post">
        <div class="offset-md-3 text-danger text-start" asp-validation-summary="All"></div>
        <div class="row text-end">
            <label class="col-md-4">Monthly Investment</label>
            <input class="col-md-3" asp-for="MonthlyInvestment"/>
        </div>
        <div class="row text-end">
            <label class="col-md-4">Annual Interest Rate</label>
            <input class="col-md-3" asp-for="AnnualInterestRate" />
        </div>
        <div class="row text-end">
            <label class="col-md-4">Years</label>
            <input class="col-md-3" asp-for="Years" />
        </div>
        <div class="row text-end">
            <label class="col-md-4">Future Value</label>
            <input class="col-md-3" value="@ViewBag.FV.ToString("c")" readonly />
        </div>
        <div class="offset-md-1 row">
            <button class="col-md-2 btn btn-primary" type="submit">Calculate</button>
            <a asp-action="Index" class="offset-md-2 col-md-2 btn btn-outline-primary">Clear</a>
        </div>
    </form>
</div>
